<!doctype html>
<html lang="en" ng-app="myApp" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/myweibo.css"/>
</head>
<body style="text-shadow: 0 1px 0 #FFFFFF;background: #f5f5f5;">
<div ng-controller="optionCtrl" style="padding: 10px">
    <button type="button" class="btn btn-default" ng-click="authorize()">授权</button>
    <button type="button" class="btn btn-default" ng-click="revokeoauth2()">取消授权</button>

    <ul  class="list-unstyled">
    <li ng-repeat="_user in user">
      <p>{{_user.name}}</p>
      <img src="{{_user.avatar_large}}" style="width: 100px; height: 100px;" alt="" class="img-thumbnail">
    </li>
    </ul>
</div>


<div class="panel panel-default" style="height: 450px;width:600px;display: none">
    <div class="panel-body">
    <div style="background-image:url(http://img.t.sinajs.cn/t5/skin/public/profile_cover/042.jpg);
                height: 183px;
                width: 595px;
                position: relative;
                background-size: cover;
                /*background-position: center bottom;*/
                background-repeat: no-repeat;">
        <div style="padding-left: 50px;padding-top: 94px;" >
            <div style="text-align: center;height: 120px;width: 120px;float:left;" >
                <img class="img-thumbnail" src="http://tp2.sinaimg.cn/1678335165/180/5662593834/1" alt="里八神">
                <b>里八神</b>
            </div>
            <div style="float:left;position: absolute;padding-top: 94px;padding-left: 150px;">
            <ul class="nav nav-pills list-inline list-unstyled">
                <li>粉丝</li>
                <li>微博</li>
                <li>关注</li>
            </ul>
            </div>
        </div>

    </div>
    </div>
    <div class="profile_top S_bg5">
        <div class="pf_info clearfix">
            <!--<div class="pf_info_left">-->
                <!--&lt;!&ndash;个人基本信息&ndash;&gt;-->
                <!--<div>-->
                    <!--<div class="pf_name bsp clearfix">-->
                        <!--<span class="name">里八神</span>-->
                        <!--<div class="pf_icon clearfix">-->
                            <!--<div class="icon_bed" action-type="set" action-data="remark="><a href="javascript:void(0);"><span class="CH">(设置备注)</span></a></div>-->
                            <!--<div class="icon_bed" node-type="level"><a action-type="" suda-data="key=tblog_grade_float&amp;value=grade_icon_click" target="_blank" href="http://level.account.weibo.com/u/?id=1678335165"><span class="W_level_ico color3"><span title="当前等级：11" levelcard="id=1678335165" class="W_level_num l11"></span></span></a></div>-->
                            <!--<div class="icon_bed"><a href="/anotheriori?from=profile&amp;wvr=5&amp;loc=infdomain" class="pf_lin S_link1">http://weibo.com/anotheriori</a></div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="pf_intro bsp">-->
			<!--<span class="S_txt2" title="以貌服人。">-->
			<!--以貌服人。		</span>-->
                    <!--</div>-->
                    <!--<div class="pf_tags bsp" node-type="info" style="position:relative">-->

                        <!--<div class="layer_menulist_tags S_line3 S_bg5" node-type="infoTag" style="position: absolute; top: 29px; left: -1px; z-index: 99; display: none;">-->
                            <!--<ul>-->
                                <!--<li class="tit"><span class="S_txt2">标签：</span></li>-->
                                <!--<li><a href="/find/f?type=1&amp;search=1&amp;tag1=%E7%89%9B%E4%B8%89&amp;from=profile&amp;wvr=5&amp;loc=inftag" class="W_btn_arrow tag"><span class="S_func1">牛三</span></a></li>-->
                                <!--<li><a href="/find/f?type=1&amp;search=1&amp;tag1=HiPda&amp;from=profile&amp;wvr=5&amp;loc=inftag" class="W_btn_arrow tag"><span class="S_func1">HiPda</span></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->

                        <!--<div class="tags">-->
                            <!--<a href="/find/f?type=1&amp;search=1&amp;sex=m&amp;prov=100&amp;from=profile&amp;wvr=5&amp;loc=infgender"><em class="W_ico12 male" title="男"></em></a>-->
                            <!--<span class="W_vline S_line1_c">|</span><em class="S_txt2"><a href="/find/f?type=1&amp;search=1&amp;sex=m&amp;prov=100&amp;from=profile&amp;wvr=5&amp;loc=infplace" title="其他">其他</a></em>-->
                            <!--<span class="W_vline S_line1_c">|</span>-->
                            <!--<a href="javascript:void(0)" node-type="infoSlide" class="">标签<span class="W_arrow"><em node-type="infoSlideIcon">◆</em></span></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="pf_do clearfix" diss-data="wforce=1&amp;refer_sort=profile&amp;refer_flag=profile_head">-->
                        <!--<div class="btn_bed" node-type="focusLink">-->
                            <!--<div class="W_btn_c">-->
					<!--<span>-->
						<!--<em class="W_ico12 icon_addone"></em>已关注<em class="W_vline S_txt2">|</em>-->
						<!--<a class="S_link2" href="javascript:void(0);" action-type="unfollow" action-data="uid=1678335165&amp;fnick=里八神">取消</a>-->
					<!--</span>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="btn_bed" node-type="catBtn" style="">-->
                            <!--<a href="javascript:;" class="W_btn_c">-->
				<!--<span action-type="webim.conversation" action-data="uid=1678335165&amp;nick=里八神">-->
					<!--<i class="W_chat_stat W_chat_stat_offline"></i>私信				</span>-->
                            <!--</a>-->
                        <!--</div>-->

                        <!--<div node-type="hover" class="btn_bed btn_links" style="display: none;">-->
					<!--<span node-type="do_btns">-->
				<!--<a suda-data="key=profile_invitefollow_page&amp;value=profile_invitefollow_page" href="javascript:void(0);" action-type="inviteFollow">求关注</a><span class="W_vline S_line1_c">|</span>-->
				<!--<a suda-data="key=tblog_otherprofile_v5&amp;value=at" href="javascript:void(0);" action-type="widget_publish" action-data="title=%E6%9C%89%E4%BB%80%E4%B9%88%E8%AF%9D%E6%83%B3%E5%AF%B9%E9%87%8C%E5%85%AB%E7%A5%9E%E8%AF%B4&amp;content=%E5%AF%B9%40%E9%87%8C%E5%85%AB%E7%A5%9E%20%E8%AF%B4%EF%BC%9A">@他</a><span class="W_vline S_line1_c">|</span>-->
			<!--</span>-->
                            <!--<a href="javascript:;" class="S_link1" node-type="more">更多<span class="W_arrow"><em class="down">◆</em></span></a>-->
                            <!--<div node-type="moreList" class="layer_menu_list handle_menu" style="display:none; position:absolute; z-index:99;">-->
                                <!--<ul>-->
                                    <!--<li><a suda-data="key=tblog_otherprofile_v5&amp;value=set_group" href="javascript:void(0);" diss-data="cf_location=other_profile&amp;cf_refer_flag=groupset_profile" action-type="set_group" class="set_group">设置分组</a></li>-->
                                    <!--<li><a action-type="widget_publish" action-data="title=%E6%8A%8A%E9%87%8C%E5%85%AB%E7%A5%9E%E6%8E%A8%E8%8D%90%E7%BB%99%E6%9C%8B%E5%8F%8B&amp;content=%E5%BF%AB%E6%9D%A5%E7%9C%8B%E7%9C%8B%E9%87%8C%E5%85%AB%E7%A5%9E%20%E7%9A%84%E5%BE%AE%E5%8D%9Ahttp://weibo.com/anotheriori" suda-data="key=tblog_otherprofile_v5&amp;value=recommend_friends" href="javascript:void(0);" class="rec_friend">-->
                                        <!--推荐给朋友</a></li>-->
                                    <!--<li><a suda-data="key=tblog_otherprofile_v5&amp;value=join_blocklist" href="javascript:void(0);" class="block_list" action-type="shield_by_user" action-data="filter_type=1&amp;uid=1678335165&amp;nickname=里八神&amp;gender=m">屏蔽TA的微博</a></li>-->
                                    <!--<li><a suda-data="key=tblog_otherprofile_v5&amp;value=join_blacklist" href="javascript:void(0);" class="black_list" action-type="block">加入黑名单</a></li>-->
                                    <!--<li>	<a suda-data="key=tblog_otherprofile_v5&amp;value=whisper" href="javascript:void(0);" class="watch" action-type="addQuietFollow" action-data="fuid=1678335165&amp;fname=里八神&amp;action=add">悄悄关注</a>-->

                                    <!--</li>-->
                                    <!--<li><a class="del_fans" suda-data="key=tblog_otherprofile_v5&amp;value=report" href="javascript:void(0);" onclick="javascript:window.open('http://service.account.weibo.com/reportspam?rid=1678335165&amp;from=10106&amp;type=3&amp;url=%2Fanotheriori&amp;bottomnav=1&amp;wvr=5', 'newwindow', 'height=700, width=550, toolbar =yes, menubar=no, scrollbars=yes, resizable=yes, location=no, status=no');">举报他</a></li>-->
                                    <!--<li><a class="del_fans" href="http://service.account.weibo.com" target="_blank">微博举报处理中心</a></li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->
            <div class="pf_info_right">
                <!--扩展信息，认证、勋章、会员等-->
                <div>


                </div>
            </div>
        </div>
            <!--头像及计数器-->

    </div>
</div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/api.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/complies.js"></script>
</body>
</html>
